<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Prasun Roy">
    <meta name="description" content="User Study on Multi-scale Attention Guided Pose Transfer.">
    <meta name="keywords" content="pose transfer, attention, gan, deepfashion, user study">
    <title>Error | User Study on Multi-scale Attention Guided Pose Transfer</title>
    <link rel="icon" type="image/x-icon" href="static/site/favicon.ico">
    <style>
      html, body {font-family: monospace; text-align: center;}
      a {color: #4040ff; font-size: 1.5rem; text-decoration: none;}
      a:hover, a:active {color: #ff0080;}
      .pt-header {font-size: 10.0rem;}
      .pt-inform {font-size: 2.5rem;}
    </style>
  </head>
  <body>
    <h1 class="pt-header">:(</h1>
    <h1 class="pt-inform">Oops! We have encountered an error!</h1>
    <a href="/">Go back to homepage</a>
    <h4>¯\_(ツ)_/¯</h4>
  </body>
</html>
